* {

}

/*body {*/
/*    background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgb(208, 0, 255));*/
/*}*/

#loading {
    position: fixed;
    top: 0;
    left: 0;
}
.hide {
    display: none;
}
.movieItem:hover {
    scale: 1.1;
}

/*.movieLists{*/
/*    display:none;*/
/*}*/